.ResponsiveLayoutLeft {
  grid-template-columns: 67px auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .ResponsiveLayoutLeft {
    grid-template-columns: 160px auto;
  }
}

/* Mobile */
@media screen and (min-width: 1024px) {
  .ResponsiveLayoutLeft {
    grid-template-columns: 300px auto;
    transition: all 0.16s;
  }
}
